.underline {
    border-bottom: 2px solid #322d29;
    margin-bottom: 3px;
}

.dark-text {
    color: #322d29;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}