.img-bg {
    background-image: url("/images/pindang.jpg");
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.underline {
    border-bottom: 2px solid #ebe9e4;
    margin-bottom: 3px;
}