.underline {
    border-bottom: 2px solid #ebe9e4;
    margin-bottom: 3px;
}

.underline-dark {
    border-bottom: 2px solid #322d29;
    margin-bottom: 3px;
}

.dark-text {
    color: #322d29;
}

#tanggal::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    width: auto;
}

#tanggal {
    position: relative;
}

.h1-title{
    margin-top: 84px;
    text-align: left;
}