* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.height-100vh {
    height: 100vh;
}

.min-height-100vh {
    height: 100vh;
}

.dark-bg {
    background-color: #322d29;
    color: #ebe9e4;
}

.light-bg {
    background-color: #ebe9e4;
    color: #322d29;
}

.handwriting {
    font-family: 'Beau Rivage', cursive;
    text-align: center;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.lato {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.btn-outline-light {
    color: #ebe9e4;
    border-color: #ebe9e4;
}

.btn-outline-light:hover {
    color: #322d29;
    background-color: #ebe9e4;
    border-color: #ebe9e4;
}

.btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #ebe9e4;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
    color: #322d29;
    background-color: #ebe9e4;
    border-color: #ebe9e4;
}

.card-image {
    background-image: url("/images/pindang.jpg");
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.bg-dark {
    background-color: #322d29 !important;
}

.btn-outline-dark {
    color: #322d29;
    border-color: #322d29;
}

.btn-outline-dark:hover {
    color: #ebe9e4;
    background-color: #322d29;
    border-color: #322d29;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #322d29;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #ebe9e4;
    background-color: #322d29;
    border-color: #322d29;
}

@media screen and (min-width: 992px) {
    .center-navbar-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}