.modal.right_modal{
    position: fixed;
    z-index: 99999;
}

.modal.right_modal .modal-dialog {
    position: fixed;
    margin: auto;
    width: 50%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog {
    margin: 1.75rem auto;
}

@media (max-width: 720px) {  
    .modal.right_modal .modal-dialog {
        width: 100%;
    }
}

.modal.right_modal .modal-content {
    height: 100vh !important;
}

.modal.right_modal .modal-body {
    padding: 15px 15px 30px;
}

.modal.right_modal.fade .modal-dialog {
    right: -50%;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right_modal.fade.show .modal-dialog {
    right: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header.right_modal {
    padding: 10px 15px;
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.modal_outer .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 91vh;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    z-index: 9999;
}

.imagePreview { 
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}