#awal::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    width: auto;
}

#awal {
    position: relative;
}

#akhir::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    width: auto;
}

#akhir {
    position: relative;
}